#wrapper {
    background-color: khaki;
    display: grid; 
    border: solid black 1px;
    width: 90%;
    height: 90vh;
    margin: auto; 
    grid-template-areas: 
    'hd hd nv'
    's1 s1 nv'
    's2 s2 s2'
    
    ;
}

#header {
    grid-area: hd;
    border: solid black 1px;
    height: 5vh;
    
}

#navigator {
    grid-area: nv; 
    border: solid black 1px;
    height: 5vh;

}

#sect1 {
    grid-area: s1; 
    border: solid black 1px;

}

#sect2 {
    grid-area:s2;
    display:grid; 
    grid-template-areas: 
    'a1 a1 a1'
    'a2 a3 a4';


}

#art1 {
    grid-area: a1; 
    border: solid 1px black; 
    width: 100%;
    height: 5vh;
    margin-top: 10%;

}

#art2 {
    grid-area: a2;
    border: solid black 1px;
    margin-bottom: 10%;

}

#art3 {
    grid-area: a3;  
    border: solid black 1px;
    margin-bottom: 10%;
}

#art4 {
    grid-area: a4;
    border: solid black 1px; 
    margin-bottom: 10%;
}