#wrapper {
    background-color: khaki;
    display: grid; 
    border: solid black 1px;
    width: 90%;
    height: 110vh;
    margin: auto; 
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-areas: 
    'nv nv'
    'mn mn'
    's2 s2'
    
    ;
}

main {
    grid-area: mn;
    display: flex;
    justify-content: center; 
    
}

nav {
    grid-area: nv;
    display: flex;
    flex-direction: row-reverse;
    padding-top: 3%; 
    padding-right: 3%;
    
}


ul {
    grid-area: ul; 
    list-style-type: none;
    margin: 0; 
    padding: 0;
    overflow: hidden; 
    background-color: #333; 
    height: 25%;
}

li {
    float: left; 
}

li a {
    display: block; 
    color: white; 
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; 

}

li a:hover {
    background-color: #111; 
}

#vbox {
    grid-area: s1; 
    border: solid black 1px;
    width: 50%;
    height: 25vh;
    display: flex; 
    justify-content: center;
    
}

#sect2 {
    border: solid black 1px;
    grid-area:s2;
    display:grid; 
    grid-template-areas: 
    'a1 a2 a3'
    ;
    display: flex;
    justify-content: space-around;
    
    padding-top: 5%;
    padding-bottom: 5%;
}



#art1 {
    background-color: red;
    grid-area: a1;
    border: solid black 1px;
    width: 30%;


}

#art2 {
    background-color: green;
    grid-area: a2;  
    border: solid black 1px;
    width: 30%;

}

#art3 {
    background-color: blue;
    grid-area: a3;
    border: solid black 1px; 
    width: 30%;
}

#vk {
    
    height: 8%;
    margin-top: 20px;
}

#namn {
    border: solid black 1px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    font-size: 30px;
}

footer {
    border:solid black 1px; 
    display: grid;
    grid-template-areas: 
    'f1 f2';
    display: flex; 
    justify-content: space-between; 
    

}


#foot1 {
    grid-area: f1;
    border: solid black 1px;
}

#foot2 {
    grid-area: f2;
    display: flex; 
    border: solid black 1px; 
}